.vagrant
joincluster.sh
kube_init_script.sh
hosts
scripts/joincluster.sh
scripts/kube_init_script.sh
scripts/hosts

.task

certs/*.key
certs/*.crt
certs/*.csr

kubeconfigs/*.kubeconfig

configs/kube-proxy-config.yaml

units/kube-apiserver.service
units/kube-controller-manager.service

.vscode

machines.txt
